.header {
  width: 100%;
  padding-top: 34px;
}

.header__logo {
  width: 254.84px;
  height: 68.94px;
  margin: auto;
  display: block;
  margin-top: 34px;
}

.header__footer {
  max-width: 194px;
  width: 100%;
  height: 16px;
  margin: 92px auto auto auto;
  padding-bottom: 24px;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .header__logo {
    height: 66px;
  }
}

@media screen and (max-width: 320px) {
  .header__logo {
    width: 188px;
    height: 52px;
  }
}
